body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f5;
}

header {
    background: #2e7d32;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.btn {
    background: #2e7d32;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
